<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/output.css" />
  <title>Einzigware</title>
</head>

<body>
  <!-- Header v1.0 -->
  <header>
    <div class="container px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="md:flex md:items-center md:gap-12">
          <a href="/src/views/homesite.html">
            <img src="../../public/images/logo.png" alt="Logo Einzigware" class="cursor-pointer h-16 w-auto transform transition duration-200 hover:scale-105 hover:rotate-1"/>
          </a>
        </div>
        <div class="hidden lg:block">
          <nav>
            <ul class="flex items-center gap-6">
              <li>
                <a class="cursor-pointer hover:underline underline-offset-4 decoration-2 decoration-wm-darkbrown uppercase"
                  href="#">
                  Produkte
                </a>
              </li>
              <li>
                <a class="cursor-pointer hover:underline underline-offset-4 decoration-2 decoration-wm-darkbrown uppercase"
                  href="#">
                  Verkäufer
                </a>
              </li>
              <li>
                <a class="cursor-pointer hover:underline underline-offset-4 decoration-2 decoration-wm-darkbrown uppercase"
                  href="/src/views/about.html">
                  Über uns
                </a>
              </li>
              <li>
                <a class="cursor-pointer hover:underline underline-offset-4 decoration-2 decoration-wm-darkbrown uppercase"
                  href="#">
                  Kontakt
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="flex items-center gap-4">
          <div class="sm:flex sm:gap-4">
            <a class="bg-wm-beige text-wm-black border-wm-black border-2 box-border rounded-full px-4 py-1.5 uppercase transform hover:scale-105 transition duration-200"
              href="#">
              Anmelden
            </a>
            <div class="hidden sm:flex">
              <a class="bg-wm-black text-wm-beige border-wm-black border-2 box-border rounded-full px-4 py-1.5 uppercase transform hover:scale-105 transition duration-200"
                href="#">
                Registrieren
              </a>
            </div>
            <div class="hidden sm:flex">
              <a class="bg-wm-brown text-white border-wm-brown border-2 box-border rounded-full px-4 py-1.5 uppercase transform hover:scale-105 transition duration-200"
                href="#">
                Verkäufer werden
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section>
  
  </section>

</body>
</html>