<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/output.css" />
    <link
      rel="icon"
      href="../../public/images/favicon.ico"
      type="image/x-icon"
    />
    <title>Schwarzwald</title>
  </head>

  <body>
    <!-- Header v1.3 -->
    <header class="sticky top-0 bg-white z-50 shadow-md">
      <div class="container">
        <div class="flex h-16 items-center justify-between">
          <div class="md:flex md:items-center md:gap-12">
            <a href="/src/views/index.html">
              <img
                src="../../public/images/logo.png"
                alt="Logo Einzigware"
                class="h-14 w-auto transform cursor-pointer transition duration-200 hover:rotate-1 hover:scale-105"
              />
            </a>
          </div>
          <div class="hidden lg:block">
            <nav>
              <ul class="flex items-center gap-6">
                <li>
                  <a
                    class="cursor-pointer uppercase decoration-wm-darkbrown decoration-2 underline-offset-4 hover:underline"
                    href="products.html"
                  >
                    Produkte
                  </a>
                </li>
                <li>
                  <a
                    class="cursor-pointer uppercase decoration-wm-darkbrown decoration-2 underline-offset-4 hover:underline"
                    href="regions.html"
                  >
                    Regionen
                  </a>
                </li>
                <li>
                  <a
                    class="cursor-pointer uppercase decoration-wm-darkbrown decoration-2 underline-offset-4 hover:underline"
                    href="about.html"
                  >
                    Unsere Vision
                  </a>
                </li>
                <li>
                  <a
                    class="cursor-pointer uppercase decoration-wm-darkbrown decoration-2 underline-offset-4 hover:underline"
                    href="contact.html"
                  >
                    Kontakt
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="flex items-center gap-4">
            <div class="sm:flex sm:gap-4">
              <a
                class="box-border transform rounded-full border-2 border-wm-black bg-wm-beige px-4 py-1.5 uppercase text-wm-black transition duration-200 hover:scale-105"
                href="login.html"
              >
                Anmelden
              </a>
              <div class="hidden sm:flex">
                <a
                  class="box-border transform rounded-full border-2 border-wm-black bg-wm-black px-4 py-1.5 uppercase text-wm-beige transition duration-200 hover:scale-105"
                  href="registration.html"
                >
                  Registrieren
                </a>
              </div>
              <div class="hidden sm:flex">
                <a
                  class="box-border transform rounded-full border-2 border-wm-brown bg-wm-brown px-4 py-1.5 uppercase text-white transition duration-200 hover:scale-105"
                  href="become-seller.html"
                >
                  Verkäufer werden
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Breadcrumb Section -->
    <div class="bg-white">
      <div class="container">
        <div class="max-w-7xl text-sm py-4">
          <nav>
            <ul class="flex space-x-2 text-wm-black">
              <li>
                <a href="index.html" class="underline hover:no-underline"
                  >Startseite</a
                >
              </li>
              <li>/</li>
              <li>
                <a href="regions.html" class="underline hover:no-underline"
                  >Regionen</a
                >
              </li>
              <li>/</li>
              <li>
                <a href="regions.html" class="underline hover:no-underline"
                  >Schwarzwald</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="p-4">
      <h2 class="text-center font-serif text-3xl">
        Region: Schwarzwald - Baden-Württemberg
      </h2>
    </div>

    <!-- Region Einführung -->
    <section
      class="container mx-auto my-6 p-6 bg-wm-beige rounded-lg shadow-md"
    >
      <h2 class="text-2xl font-semibold text-gray-800">Über die Region</h2>
      <p class="mt-4 text-gray-700">
        Der Schwarzwald in Baden-Württemberg – eine Region voller Tradition,
        natürlicher Schönheit und kulinarischer Vielfalt. Hier entstehen
        einzigartige Lebensmittel, geprägt von frischer Bergluft, klaren Quellen
        und regionalem Handwerk. Ob aromatischer Tannenhonig, traditioneller
        Schinken oder feine Destillate – jedes Produkt erzählt die Geschichte
        von Leidenschaft und Verbundenheit zur Natur.
      </p>
    </section>

    <!-- Produkte aus der Region -->
    <section class="container mx-auto my-8">
      <h2 class="text-2xl font-semibold text-gray-800 mb-6">
        Produkte der Region
      </h2>

      <!-- Produktkarten -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
        <!-- Produktkarte -->
        <div
          class="bg-white shadow rounded-lg overflow-hidden transform transition duration-200 hover:scale-103 cursor-pointer"
        >
          <img
            src="../../public/images/homepage/senf.jpg"
            alt="Produktbild"
            class="w-full h-48 object-cover"
          />
          <div class="p-4">
            <h2 class="text-lg font-semibold">Historischer Senf</h2>
            <p>Senfmühle Köln / Cochem</p>
            <p class="text-gray-600">Nordrhein-Westfahlen</p>
            <p class="mt-2 font-bold">ab 4,99€</p>
          </div>
        </div>

        <div
          class="bg-white shadow rounded-lg overflow-hidden transform transition duration-200 hover:scale-103 cursor-pointer"
        >
          <img
            src="../../public/images/homepage/senf.jpg"
            alt="Produktbild"
            class="w-full h-48 object-cover"
          />
          <div class="p-4">
            <h2 class="text-lg font-semibold">Historischer Senf</h2>
            <p>Senfmühle Köln / Cochem</p>
            <p class="text-gray-600">Nordrhein-Westfahlen</p>
            <p class="mt-2 font-bold">ab 4,99€</p>
          </div>
        </div>

        <div
          class="bg-white shadow rounded-lg overflow-hidden transform transition duration-200 hover:scale-103 cursor-pointer"
        >
          <img
            src="../../public/images/homepage/senf.jpg"
            alt="Produktbild"
            class="w-full h-48 object-cover"
          />
          <div class="p-4">
            <h2 class="text-lg font-semibold">Historischer Senf</h2>
            <p>Senfmühle Köln / Cochem</p>
            <p class="text-gray-600">Nordrhein-Westfahlen</p>
            <p class="mt-2 font-bold">ab 4,99€</p>
          </div>
        </div>

        <div
          class="bg-white shadow rounded-lg overflow-hidden transform transition duration-200 hover:scale-103 cursor-pointer"
        >
          <img
            src="../../public/images/homepage/senf.jpg"
            alt="Produktbild"
            class="w-full h-48 object-cover"
          />
          <div class="p-4">
            <h2 class="text-lg font-semibold">Historischer Senf</h2>
            <p>Senfmühle Köln / Cochem</p>
            <p class="text-gray-600">Nordrhein-Westfahlen</p>
            <p class="mt-2 font-bold">ab 4,99€</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Verkäufer aus der Region -->
    <section class="container mx-auto my-8">
      <h2 class="text-2xl font-semibold text-gray-800 mb-6">
        Verkäufer der Region
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Verkäuferkarte -->
        <div
          class="bg-white rounded-lg shadow overflow-hidden flex items-center p-4 transform transition duration-200 hover:scale-103"
        >
          <img
            src="../../public/images/sellers/pp_template.png"
            alt="Profilbild Verkäufer"
            class="w-20 h-20 rounded-full border-2 border-wm-brown"
          />
          <div class="ml-4">
            <h3 class="text-lg font-bold text-gray-800">Bernd Müller</h3>
            <p class="text-gray-600">Senfmühle Köln</p>
            <a
              href="seller.html"
              class="mt-2 inline-block text-wm-brown hover:underline"
            >
              Verkäuferprofil ansehen
            </a>
          </div>
        </div>

        <div
          class="bg-white rounded-lg shadow overflow-hidden flex items-center p-4 transform transition duration-200 hover:scale-103"
        >
          <img
            src="../../public/images/sellers/pp_template.png"
            alt="Profilbild Verkäufer"
            class="w-20 h-20 rounded-full border-2 border-wm-brown"
          />
          <div class="ml-4">
            <h3 class="text-lg font-bold text-gray-800">Bernd Müller</h3>
            <p class="text-gray-600">Senfmühle Köln</p>
            <a
              href="seller.html"
              class="mt-2 inline-block text-wm-brown hover:underline"
            >
              Verkäuferprofil ansehen
            </a>
          </div>
        </div>

        <div
          class="bg-white rounded-lg shadow overflow-hidden flex items-center p-4 transform transition duration-200 hover:scale-103"
        >
          <img
            src="../../public/images/sellers/pp_template.png"
            alt="Profilbild Verkäufer"
            class="w-20 h-20 rounded-full border-2 border-wm-brown"
          />
          <div class="ml-4">
            <h3 class="text-lg font-bold text-gray-800">Bernd Müller</h3>
            <p class="text-gray-600">Senfmühle Köln</p>
            <a
              href="seller.html"
              class="mt-2 inline-block text-wm-brown hover:underline"
            >
              Verkäuferprofil ansehen
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer v1.2 -->
    <footer class="bg-wm-black py-8 text-gray-200">
      <div
        class="container mx-auto grid grid-cols-1 gap-8 px-4 sm:px-6 md:grid-cols-3 lg:px-8"
      >
        <!-- Spalte 1: Logo -->
        <a href="index.html">
          <div class="flex justify-center md:justify-start">
            <img
              src="../../public/images/logo_colored.png"
              alt="Einzigware Logo"
              class="h-44 transform cursor-pointer transition duration-200 hover:rotate-1 hover:scale-105"
            />
          </div>
        </a>

        <!-- Spalte 2 und 3 mit Slogan oben -->
        <div class="text-center md:col-span-2 md:text-left">
          <p class="mb-4 text-gray-400">Wir bringen Heimat nach Hause</p>

          <div class="grid grid-cols-2 gap-8">
            <!-- Spalte 2: Hyperlinks -->
            <div class="flex flex-col space-y-2">
              <a href="#" class="hover:text-gray-400">Standorte</a>
              <a href="#" class="hover:text-gray-400">Produkte</a>
              <a href="#" class="hover:text-gray-400">Verkäufer werden</a>
              <a href="#" class="hover:text-gray-400">Unsere Vision</a>
            </div>

            <!-- Spalte 3: Hyperlinks -->
            <div class="flex flex-col space-y-2">
              <a href="#" class="hover:text-gray-400">Kontakt</a>
              <a href="#" class="hover:text-gray-400">Versand</a>
              <a href="#" class="hover:text-gray-400">Impressum</a>
              <a href="#" class="hover:text-gray-400">Datenschutz</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Copyright -->
      <div class="mt-8 text-center text-gray-500">
        <p>&copy; 2024 Einzigware</p>
      </div>
    </footer>
  </body>
</html>
