<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/output.css" />
    <title>Einzigware</title>
  </head>
  <body class="font-Noto">
    <header>
      <nav class="container flex items-center">
        <div class="py-1"><img src="../../public/images/logo.png.png" alt="Logo Einzigware" class="h-20 w-auto"/></div>
        <ul class="hidden sm:flex flex-1 justify-end items-center gap-12 uppercase">
          <li class="cursor-pointer hover:underline underline-offset-4 decoration-2 decoration-wm-darkbrown">Produkte</li>
          <li class="cursor-pointer hover:underline underline-offset-4 decoration-2 decoration-wm-darkbrown">Verkäufer</li>
          <li class="cursor-pointer hover:underline underline-offset-4 decoration-2 decoration-wm-darkbrown">Über Uns</li>
          <li class="cursor-pointer hover:underline underline-offset-4 decoration-2 decoration-wm-darkbrown">Kontakt</li>
          <button type="button" class="bg-wm-brown text-white border-wm-brown border-2 box-border rounded-full px-4 py-1.5 uppercase">Verkäufer werden</button>
          <button type="button" class="bg-wm-beige text-wm-black border-wm-black border-2 box-border rounded-full px-4 py-1.5 uppercase">Anmelden</button>
          <button type="button" class="bg-wm-black text-wm-beige border-wm-black border-2 box-border rounded-full px-4 py-1.5 uppercase">Registrieren</button>
        </ul>
      </nav>
    </header>
  </body>
</html>
