    <!-- Produkte -->
    <section>
        <div class="container mx-auto">
          <div class="pb-6 pt-8">
            <h2 class="text-center font-serif text-3xl">
              Aktuelle Produkte im Trend
            </h2>
          </div>
  
          <!-- Grid -->
          <div
            class="mx-auto grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6"
          >
            <!-- Artikel 1 -->
            <a href="products_template.html">
              <div
                class="transform transition duration-300 hover:scale-105 cursor-pointer"
              >
                <div>
                  <img
                    src="../../public/images/homepage/senf.jpg"
                    alt=""
                    class="w-72 object-cover"
                  />
                </div>
                <div class="mt-2">
                  <p class="font-bold">Tannen-Honig</p>
                  <p>Tannenimkerei Schwarzwald</p>
                  <p class="mt-2 font-bold">ab 4,99€</p>
                </div>
              </div></a
            >
  
            <!-- Artikel 1 -->
            <a href="products_template.html">
              <div
                class="transform transition duration-300 hover:scale-105 cursor-pointer"
              >
                <div>
                  <img
                    src="../../public/images/homepage/senf.jpg"
                    alt=""
                    class="w-72 object-cover"
                  />
                </div>
                <div class="mt-2">
                  <p class="font-bold">Tannen-Honig</p>
                  <p>Tannenimkerei Schwarzwald</p>
                  <p class="mt-2 font-bold">ab 4,99€</p>
                </div>
              </div></a
            >
  
            <!-- Artikel 1 -->
            <a href="products_template.html">
              <div
                class="transform transition duration-300 hover:scale-105 cursor-pointer"
              >
                <div>
                  <img
                    src="../../public/images/homepage/senf.jpg"
                    alt=""
                    class="w-72 object-cover"
                  />
                </div>
                <div class="mt-2">
                  <p class="font-bold">Tannen-Honig</p>
                  <p>Tannenimkerei Schwarzwald</p>
                  <p class="mt-2 font-bold">ab 4,99€</p>
                </div>
              </div></a
            >
  
            <!-- Artikel 1 -->
            <a href="products_template.html">
              <div
                class="transform transition duration-300 hover:scale-105 cursor-pointer"
              >
                <div>
                  <img
                    src="../../public/images/homepage/senf.jpg"
                    alt=""
                    class="w-72 object-cover"
                  />
                </div>
                <div class="mt-2">
                  <p class="font-bold">Tannen-Honig</p>
                  <p>Tannenimkerei Schwarzwald</p>
                  <p class="mt-2 font-bold">ab 4,99€</p>
                </div>
              </div></a
            >
  
            <!-- Artikel 1 -->
            <a href="products_template.html">
              <div
                class="transform transition duration-300 hover:scale-105 cursor-pointer"
              >
                <div>
                  <img
                    src="../../public/images/homepage/senf.jpg"
                    alt=""
                    class="w-72 object-cover"
                  />
                </div>
                <div class="mt-2">
                  <p class="font-bold">Tannen-Honig</p>
                  <p>Tannenimkerei Schwarzwald</p>
                  <p class="mt-2 font-bold">ab 4,99€</p>
                </div>
              </div></a
            >
  
            <!-- Artikel 1 -->
            <a href="products_template.html">
              <div
                class="transform transition duration-300 hover:scale-105 cursor-pointer"
              >
                <div>
                  <img
                    src="../../public/images/homepage/senf.jpg"
                    alt=""
                    class="w-72 object-cover"
                  />
                </div>
                <div class="mt-2">
                  <p class="font-bold">Tannen-Honig</p>
                  <p>Tannenimkerei Schwarzwald</p>
                  <p class="mt-2 font-bold">ab 4,99€</p>
                </div>
              </div></a
            >
          </div>
        </div>
      </section>